.char-info {
  width: 425px;
  height: max-content;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
  }

  &__img {
    margin-right: 43px;
    width: 150px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__btns {
    margin-top: 35px;
    button:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  // &__content {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }

  &__description {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  &__comics-list {
    .comics-list__item {
      margin-top: 10px;
      padding: 4px 10px;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      font-size: 14px;
      line-height: 16px;
    }
  }
}
